{#
    @file
    colorhexa.html.twig

	Available variables:
 		- title: titulo de la página
		- color: El color del parametro

#}

<div>


<h3>{{title}}</h3>

<p>El codigo de color es {{ hexa }}</p>

</div>



